
.forgot-pass-body {
  height: 100vh;
  width: 100%;
  background-image: url(../../../assets/bg.png);

  background-size: cover;       /* makes image cover entire area */
  background-position: center;  /* centers the image */
  background-repeat: no-repeat; /* prevents tiling */
}
