<div
  class="h-[520px] overflow-y-auto max-w-full scrollbar-none py-4 pb-[96px]"
  (scroll)="onScroll($event)"
>

  <!-- Grid -->
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 pb-4">
    @for (file of files; track file.id) {
      <app-file-priview-card
        [multiselectActive]="!!selectedFileIds.size"
        [file]="file"
        [clearSelection]="clearSelectedFields"
        (selectionChange)="onFileSelectionChange($event)"
        (showAddCollectionOverlay)="onShowAddCollectionOverlay($event)"
        (edit)="onFileEdit($event)"
      >
      </app-file-priview-card>
    }
  </div>

  <!-- Loading / Empty -->
  @if (loading) {
    <div class="text-center py-2 text-gray-500">
      Loading more files…
    </div>
  }

  @if (!loading && !hasMore && files.length > 0) {
    <div class="text-center py-2 text-gray-400">
      No more files
    </div>
  }

  @if (!loading && files.length === 0) {
    <div class="text-center py-2 text-gray-400">
      No files found
    </div>
  }
</div>

<app-bottom-bar
  [selectedCount]="selectedFileIds.size"
  (clear)="clearSelection()"
  (download)="downloadAllSelected()"
  (delete)="deleteAllSelected()"
>
</app-bottom-bar>

<app-file-upload
[mode]="'edit'"
[editData]="editFile"
[isOpen]="editFileOverlayOpen"
(closeEdit)="closeEdit()"
></app-file-upload>
