<div class="tag-cloud-wrapper shadow shadow-blue-200">
  <!-- Title -->
  <h3 class="cloud-title  px-4 py-2 text-gray-500">
    Top Tags
  </h3>
  <hr class="m-0 p-0">

  <!-- Cloud Area (Physics Only) -->
  <div
  #container
  class="cloud-container"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseLeave()">

  @if(tags.length ==0){
  <div
    class="flex flex-col items-center justify-center
           py-16 text-gray-400 select-none"
  >
    <!-- Icon -->
    <div
      class="w-14 h-14 mb-3 rounded-full
             bg-gray-100 flex items-center justify-center"
    >
      <i class="fa-regular fa-bookmark text-2xl text-gray-400"></i>
    </div>

    <!-- Text -->
    <p class="text-sm font-semibold text-gray-500">
      No Tags available
    </p>
    <p class="text-xs text-gray-400 mt-1">
      Upload files to see them here
    </p>
  </div>

  }@else {


  <div
    *ngFor="let b of bubbles"
    class="bubble"
    [style.width.px]="b.radius * 2"
    [style.height.px]="b.radius * 2"
    [style.left.px]="b.x - b.radius"
    [style.top.px]="b.y - b.radius">

    <span class="label">
      {{ b.label }}
    </span>

  </div>
}
</div>

</div>
