/* Hide scrollbars for iframe content */
.no-scrollbar {
  overflow: hidden;
}

/* Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* IE / old Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}
iframe {
  overflow: hidden !important;
}
iframe::-webkit-scrollbar {
  display: none !important;
}

iframe {
  scrollbar-width: none !important;
}
